<!--//{% assign sidebar = site.data.data.sidebar %}-->
{% assign lang = page.collection | default: "en" %}
{% assign sidebar = site.data[lang].sidebar %}


<div class="sidebar-wrapper">

  <div class="profile-container">
	<a href="{{ site.baseurl }}{% if page.collection == 'en' %}/es/{{ page.name }}{% else %}/en/{{ page.name }}{% endif %}">
		<button class="lang-switcher">🇪🇸 Español / 🇬🇧 English</button>
	</a>

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
